body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-logo {
  padding-left: 569px;
}

.main-navigation {
 font-size: inherit;
 line-height: inherit;
 font-weight: bold;

 background-color: #ffffff;
 color: #ffffff;
}

/*
.main-header {
 background-image:
 url("../img/intro-welcome.svg"),
 url("../img/intro-mask.svg"),
 url("../img/main.jpg");
 background-size:
 456px 353px,
 1201px 59px,
 1200px 800px;
 background-repeat:
 no-repeat,
 no-repeat,
 no-repeat;
 background-position:
 center,
 bottom;
}*/

.site-menu {
list-style: none;
}

.site-menu a {
  color: #000000;
}

.site-menu a:hover,
.site-menu a:focus {
  background-color: #e5f1fa;
}

.introduction {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.intro-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.about-sedona {
  list-style: none;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

/*почему применяется и к <ol> и <ul> я хочу применить только к <ol>*/
.features-item li:nth-child(-n+2){
background-color: #82b4d3;
}

.recomendation {
  background-color: #eeeeef;
}

.recomended-item {
  list-style: none;
}

.interest h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.interest p {
  font-size: 14px;
  line-height: 24px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: inherit;
}

.footer-logo a:hover,
.footer-logo a:focus;{
  background-color:
}

.footer-social li {
  list-style: none;
}

/*
.icons {
  background-image:
   url("../img/icon-1.svg")no-repeat,
   url("../img/icon-2.svg")no-repeat,
   url("../img/icon-3.svg")no-repeat;
}
*/
