-html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;

}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #eeeeee;
}


a {
  text-decoration: none;
  color: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

}

.main-navigation {
  margin: 0;
  padding: 0;
  min-height: 56px;

  position: relative;
  font-weight: bold;
  color: #ffffff;
}


.main-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
}

.nav-list a,
.site-menu a{
  color: #000000;
}

.main-header {
  background-color: #81b3d2;
}

.nav-list {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: #fff;
}

.nav-item {
  width: 25%;
}

.nav-item:nth-child(3),
.nav-item:last-child {
  text-align: right;
}

.nav-item:nth-child(2) {
  margin-left: -34px;
}

.nav-item a[href]:hover {
  color: #81b3d2;
}

.nav-item a[href]:active {
  color: #d3d3d3;
}

.nav-item a:not([href]) {
  color: #766357;
  font-weight: 700;
}

.main-header {
  min-height: 565px;
  background-image:
  url("../img/intro-welcome.svg"),
  url("../img/intro-mask.svg"),
  url("../img/main.jpg");
  background-size: 562px 352px, auto, auto;
  background-repeat: no-repeat;
  background-position: 50% 134px, 0 calc(100% + 3px), 0 -26px;
}


.introduction {
  padding-top: 42px;
  background-color: #fff;
  padding-bottom: 10px;
  padding-top: 60px;
}


.introduction h2  {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.2;
  padding-right: 30%;
  padding-left: 30%;
  padding-bottom: 10px;
}


.intro-item {
  margin-bottom:48px;
  line-height: 1.86;
}

.container-padded {
  padding-right: 72px;
  padding-left: 72px;
}

.text-transfer {
  padding-right: 55px;
  padding-left: 60px;
  padding-top: 8px;

  line-height: 1.5;
}

.text-transfer-second {
  padding-right: 35px;
  padding-left: 45px;
  padding-top: 7px;
}

.filled-title {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-right: 115px;
  padding-left: 115px;

  line-height: 1;

}

.filled-title-two {
  margin: 0;
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 6px;
  padding-bottom: 24px;

  line-height: 1;
}

.recommendation-list {
  background-color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 85px;
}

.recommendation-list h3 {
  padding-top:;
}

.recommended-item {
  margin: 0;
  padding-top:  120px;
  background-size: 72px 75px;
}

.recommended-item h3 {
  margin: 0;
  padding-top: 118px;
}


.recommended-item p {
  margin: 0;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 18px;
  padding-bottom: 62px
}

.recomend-one {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 165px 60px;

}

.recomend-two {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 165px 60px;
}

.recomend-3 {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 165px 59px;
}

.col-one-third {
  width: 400px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.col-two-thirds {
  width: 800px;
}

.last-col {
  background-color: #efefef;
}

.last-col h3 {
  margin: 0;
  padding-left: 144px;
  padding-right: 140px;
  padding-top: 8px;
  padding-bottom: 22px;

  line-height: 1;
}


.last-col p{
  padding-left:62px;
  padding-right: 58px;

  padding-top: 8px;
  padding-bottom: 24px;
}

.full-width {
  width: 1200px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

.features-list,
.inner-list,
.recommendation-list,
.filled-text {
  display: flex;

}

.features-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-list h3 {
  font-size: 21px;
  font-weight: bold;
}

.filled-text {
  background-color: #81b3d2;
  color: #fff;
}

.filled-text img {
  display: block;
}


.interest {
  background-color: #fff;
}


.interest h3 {
  margin: 0;
  padding-top: 50px;

  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.interest p {
  margin: 0;
  line-height: 1.71;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 44px;

}

.main-footer {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;

}

.main-footer iframe {
  border: 0;
  background-color: #b9dd94;
}

.footer-container {
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 556px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(249, 250, 246, 0.9);
}



.hashtag  {
  margin-left: 34px;
  margin-bottom:4px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.23;
  color: #000;

  width: 136px;
}

.footer-social {
  display: flex;
  list-style: none;
  margin-left: 14px;
}

.footer-copyright b {
  line-height: 1.86;
  vertical-align: 15px;
}


.footer-social a {
  background-color: #82b5d3;
}

.footer-copyright {
  margin-left: 24px;
  padding-top: 6px;
}


.social-btn {
  margin: 0;
  width: 46px;
  height: 48px;

  margin-right: 6px;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}


.social-btn:hover,
.social-btn:focus  {
  background-color: #6fa6c6;
}

.social-btn:active path{
  fill: #91c3e0;
}

.modal-search {
  display: none;
}

.hotel-link-button {
  margin-top: 0;
  margin-left: 316px;;
  padding-top: 28px;
  padding-bottom: 30px;
  width: 568px;

  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  display: block;

  background-color: #766356;
  color: #fff;
  text-align: center;
}


.hotel-link-button:hover,
.hotel-link-button:focus {
  background-color: #725c4e;
}

.hotel-link-button:active {
  color: #a59d98;
}


.form-show {
  display: block;
}

.modal {
  margin: 0;
  width: 568px;

  position: absolute;
  top: 84px;
  left: 316px;

  background-color: #fff;
}


.modal-show {
  display: block;
}

.modal-search h3 {
  margin: 0;
}


.form-group .date-in:hover  {
  background-color: #eeeeee;
}

.form-group .date-in:focus {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.calendar-1 svg {
  position: absolute;
  top: 62px;
  left: 485px;
}

.calendar-2 svg {
  position: absolute;
  top: 129px;
  left: 485px;
}

.search-item svg {
  fill: #a8a8a8;
}

.search-item svg:hover,
.search-item svg:focus {
  fill: #000 ;
}

.search-item svg:active {
  fill: #81b3d2;
}


.input-number-like-text::-webkit-outer-spin-button,
.input-number-like-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number-like-text {
  -moz-appearance: textfield;
}

.search-form {
  display: flex;
  flex-wrap: wrap;

  width: 570px;
  padding-top: 40px;
  padding-left: 57px;
  padding-right: 68px;
  padding-bottom: 20px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 1.82;
  font-weight: bold;

}

.form-group input[type="text"],
.form-group input[type="number"] {
  background-color: #f2f2f2;
  font-size: inherit;
  color: black;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  line-height: 1.86;

  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 12px;

}

.date-in {
  width: 334px;
  margin-left: 17px;
}

.calendar-1 input {
  margin-left: 21px;
}

.search-form label {
  font-weight: 700;
  line-height: 1.86;
}

.form-group,
.form-group-left,
.form-group-right {
  display: flex;
  flex-wrap: wrap;
}


.form-group-left,
.form-group-right {
  padding-top: 17px;
  align-items: center;

}

.form-group-left label {
  margin-right: 40px;
}

.form-group-right label {
  margin-left: 52px;
}

.input-container-right {
  margin-left: 30px;
}

.input-container {
  font-size: 0;
}

.input-container input,
.input-container button {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 38px;
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
}



.button-plus,
.button-minus {
  color: #a9a9a9;
}

.button-plus:hover,
.button-minus:hover {
  color: initial;
}

.button-plus:active,
.button-minus:active {
  color: #81b3d2;
}

.button-plus::before {
  content: "+"
}

.button-minus::before {
  content: "\2212"
}

.button-find {
  margin-top: 53px;
  margin-bottom: 36px;
  height: 56px;
  width: 446px;

  background-color: #82b4d3;
  color: #fff;
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}


.button-find:hover,
.button-find:focus {
  background-color:#6fabce;
}

.button-find:active {
  color: #8eb9d1;
}

.footer-logo a:hover,
.footer-logo a:focus {
  background-color: #8abcd8;
}

.footer-logo a:active {
  background-color: #c0c0c0;
}

.second-header {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
  line-height: 1,5;
  min-height: 225px;
  background-color: #75a1c4;
}

.forms {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.option-1 {
  border: 0 none;
  margin-left: -7px;
}


.form-items{
  margin: 0px;
}

.option-1 {
  margin-right: 106px;
}

.option {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 20px;
}

.form-items ul {
  margin: 0;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 25px;
}


.filter-option input:focus {
  outline: 2px solid black;
}



.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  line-height: 1.5;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23fff' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23' fill='%23fff'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

.form-items {
  display: flex;

}

.infrastructure,
.type-of-housing {
  list-style: none;
}

.filter-option input:focus {
  outline: 2px solid black;
}
.filter-range {
  width: 318px;
  margin-right: 32px;
  margin-left: 230px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}
.price-control label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}


.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left:0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-top: 14px;
  margin-right: 96px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color:#000000;

  background: #ffffff;
}

.inner-content {
  background-color: #fff;
}

.found-3 {
  margin: 0;
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;

  margin-left: 72px;
  margin-right: 45px;
}


.sort-type {
  margin: 0;
  padding-bottom: 28px;
  padding-top: 32px;

  display: flex;
  list-style: none;
}

.sort-items {
  margin: 0;
  margin-left: -32px;

  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-type p {
  margin: 0;
  padding-left: 4px;
  padding-top: 4px;

  line-height: 1.5;
  font-size: 12px;
}

.sorting {

  padding-left: 32px;

}

.sort-items a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #b2d1e3;

  font-size: 12px;

}

.sorting a:hover,
.sorting a:focus {
  color: #82b5d3;
  border-bottom: 1px dotted #b2d1e3;
}

.sorting a:active {
  color:#000;
  border: none;
}

.arrows,
.sorting {
  list-style: none;
}

.arrows {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  margin-right: 73px;
}

.arrow-up {
  margin-right: 10px;
}

.arrows-filter svg{
  fill: #cacaca;
}

.arrows-filter svg:hover,
.arrows-filter svg:focus {
  fill:#000;
}

.arrows-filter svg:active {
  fill: #8abcd8;
}

.hotel-item img {
  margin-top: 6px;
}

.hotel-item-price {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 18px;
}


.hotel-item-description {
  flex-grow: 1;
  padding-right: 20px;
  padding-left: 32px;
}

.result-button {
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  width: 133px;
  height: 32px;
}

.result-button:hover {
  color: #000;
  background-color: #fff;
}

.hotel-item {
  margin-top: 19px;
  margin-bottom: 34px;
}


.hotel-item,
.hotel-item-content {
  display: flex;
  flex-wrap: wrap;
}

.container-padded {
  border-top: 1px solid #e5e5e5;
}

.container-padded {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item img {
  width: 135px;
  height: 90px;
}

.hotel-item-content {
  flex-grow: 1;
}

.hotel-item-ranking {
  margin-left: auto;
  flex-wrap: wrap;
}

.stars-four {
  margin-bottom: 48px;
  margin-left: auto;
  min-height:16px;
  width: 72px;

  background-image: url("../img/invalid-name.svg");
}

.stars-three {
  margin-bottom: 48px;
  margin-left: auto;
  min-height:16px;
  width: 54px;

  background-image: url("../img/invalid-name.svg");
}

.stars-two {
  margin-bottom: 48px;
  margin-left: auto;
  min-height:16px;
  width: 36px;

  background-image: url("../img/invalid-name.svg");
}



.hotel-item-title {
  margin: 0;
  font-size: 21px;
  line-height: 1.24;
}

.hotel-item-title a:hover {
  color: #81b3d2;
}

.hotel-item-title a:active {
  color: #cacaca;
}



.hotel-item-price span {
  margin-left: 35px;
}

.hotel-item-price .motel {
  margin-left: 60px;
}

.hotel-item-price .appartaments {
  margin-left: 20px;
}


.hotel-item-ranking mark {
  color: #666666;
  background-color: #f2f3f3;
  padding: 6px  13px 6px 16px;
}

.details {
  background-color: #82b4d3;
  color: #fff;
  padding: 4px 15px;
  margin-right: 4px;
  width: 110px;
}

.booking {
  background-color: #776356;
  color: #fff;
  padding: 4px 17px;
  width: 144px;
}

.details:hover,
.details:focus {
  background-color: #68a1c1;
}

.details:active {
  color: #bbd4e5;
}

.booking:hover,
.booking:focus {
  background-color: #6d5a4e;
}

.booking:active {
  color: #a59d98;
}

.footer-container-two  {
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 20px;

  background-color: #fff;
}
